.container_footer{
  background: #061e38;
  padding: 70px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width:1599px;
  .footer_left{

    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
    }
    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 275px;

      & a {
        padding: 0;
        color: #7d8da4;
      }
      ul {
        list-style-type: none;
        color: white;
      }

      ul li {
        display: inline-block;
        font-size: 80%;
        line-height: 18px;
        position: relative;
        font-weight: 100;
        color: #7d8da4;
      }
      ul li::before {
        color: white;
        content:"\2022";
        left: -25px;
        font-weight: 700;
        position: absolute;
      }
    }
    .footer_left__bottom li:hover {
      color: red;
    }
    .footer_left__bottom a:hover {
      color: red;
    }
  }
  .footer_right {

    .footer_right__menu {
      margin-bottom: 30px;
    }
    .footer_right__menu a:hover{
      color: red;
    }
    &__icons {
      float: right;

      & img {
        height: 22px;
        margin: 10px 10px;
      }
    }
  }
}
