*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}p, h1, h2, h3, h4, a, li {
   font-family: 'Darker Grotesque', sans-serif;
 }
$b-sh_b: 0 2px 3px rgba(0,0,0,0.5);
$b-sh_b_h: 0 0px 15px rgba(42,123,214,0.8);
.button {
  border-radius: 3px;
  padding: 15px 25px 14px 25px;
  box-shadow: $b-sh_b;
}
.button:hover {
  box-shadow: $b-sh_b_h;
}
.black{
  background: black;
}

.black:hover {
  background: white;
  color: black;
}
.black a:hover {
  color: black;
}
@import "header";
@import "main";
@import "footer";
@import "media";
